{% extends 'base.html' %}

{% block content %}
<div class="text-center" style="margin: 20px;">
  <h1>Customer</h1>
  <br>
  <a class="btn btn-primary" href="/customer/add_customer/" role="button">Add Customer</a>
  <br>
  <br>
</div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Site</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for x in customers %}
    <tr>
      <td>{{ x.id }}</td>
      <td>{{ x.site_name }}</td>
      <td>{{ x.customer_name }}</td>
      <td>{{ x.customer_phone }}</td>
      <td><a class="btn btn-primary" href="/stock/edit_stock/{{ x.id }}" role="button">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

