{% extends 'base.html' %}

{% block content %}
<div class="text-center" style="margin: 20px;">
  <h1>Customer</h1>
  <br>
  <a class="btn btn-primary" href="/customer/add_customer/" role="button">Add Customer</a>
  <br>
  <br>
</div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for x in customers %}
      <div class="card border-dark mb-3" style="max-width: 18rem; margin: 10px;">
        <div class="card-body">
          <h5 class="card-title">{{ x.site_name }}</h5>
              <p class="card-text">{{ x.customer_name }}</p>
              <p class="card-text">{{ x.customer_phone }}</p>
              <a class="btn btn-primary" href="/customer/edit_customer/{{ x.id }}" role="button">Edit</a>
        </div>
      </div>
    {% endfor %}
  </div>
  

{% endblock %}

