{% extends 'base.html' %}

{% block content %}
  <h1>Service Page</h1>
  <a class="btn btn-primary" href="/service/add_service" role="button">Add Service</a>
  <br>
  <br>
  {% for x in services %}
      <div class="container-fluid">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ x.site_name }}</h5>
              <p class="card-text">{{ x.date }}</p>
              <p class="card-text">{{ x.location }}</p>
              <p class="card-text">{{ x.door_Code }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}

