{% extends 'base.html' %}

{% block content %}
  <h1>Worksheet Page</h1>
  <a class="btn btn-primary" href="/worksheet/add_worksheet/" role="button">Add Worksheet</a>
  <br>
  <br>
      {% for x in worksheets %}
      <div class="container-fluid">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ x.site_name }}</h5>
              <p class="card-text">{{ x.date }}</p>
              <p class="card-text">{{ x.job_type }}</p>
              <p class="card-text">{{ x.description }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}

